{
  "openapi": "3.1.0",
  "info": {
    "version": "2",
    "title": "PokéAPI",
    "description": "A Pokémon API.",
    "license": {
      "name": "BSD-3-Clause",
      "url": "https://github.com/PokeAPI/pokeapi.co?tab=BSD-3-Clause-1-ov-file"
    }
  },
  "servers": [
    {
      "url": "https://pokeapi.co/api/v2",
      "description": "Base URL for the API."
    }
  ],
  "security": [],
  "externalDocs": {
    "url": "https://pokeapi.co/docs/v2"
  },
  "tags": [
    {
      "name": "Resource Lists/Pagination"
    },
    {
      "name": "Berries"
    },
    {
      "name": "Contests"
    },
    {
      "name": "Encounters"
    },
    {
      "name": "Evolution"
    },
    {
      "name": "Games"
    },
    {
      "name": "Items"
    },
    {
      "name": "Locations"
    },
    {
      "name": "Machines"
    },
    {
      "name": "Moves"
    },
    {
      "name": "Pokémon"
    },
    {
      "name": "Utility"
    }
  ],
  "paths": {
    "/{endpoint}": {
      "$ref": "paths/{endpoint}.json"
    },
    "/berry/{nameOrId}": {
      "$ref": "paths/berry_{nameOrId}.json"
    },
    "/berry-firmness/{nameOrId}": {
      "$ref": "paths/berry-firmness_{nameOrId}.json"
    },
    "/berry-flavor/{nameOrId}": {
      "$ref": "paths/berry-flavor_{nameOrId}.json"
    },
    "/contest-type/{nameOrId}": {
      "$ref": "paths/contest-type_{nameOrId}.json"
    },
    "/contest-effect/{id}": {
      "$ref": "paths/contest-effect_{id}.json"
    },
    "/super-contest-effect/{id}": {
      "$ref": "paths/super-contest-effect_{id}.json"
    }
  }
}