{
  "openapi": "3.1.0",
  "info": {
    "version": "2",
    "title": "PokéAPI",
    "description": "A Pokémon API.",
    "license": {
      "name": "BSD-3-Clause",
      "url": "https://github.com/PokeAPI/pokeapi.co?tab=BSD-3-Clause-1-ov-file"
    }
  },
  "servers": [
    {
      "url": "https://pokeapi.co/api/v2",
      "description": "Base URL for the API."
    }
  ],
  "security": [],
  "externalDocs": {
    "url": "https://pokeapi.co/docs/v2"
  },
  "tags": [
    { "name": "Resource Lists/Pagination" },
    { "name": "Berries" },
    { "name": "Contests" },
    { "name": "Encounters" },
    { "name": "Evolution" },
    { "name": "Games" },
    { "name": "Items" },
    { "name": "Locations" },
    { "name": "Machines" },
    { "name": "Moves" },
    { "name": "Pokémon" },
    { "name": "Utility" }
  ],
  "paths": {
    "/{endpoint}": {
      "$ref": "paths/{endpoint}.json"
    },
    "/berry/{nameOrId}": {
      "$ref": "paths/berry_{nameOrId}.json"
    },
    "/berry-firmness/{nameOrId}": {
      "$ref": "paths/berry-firmness_{nameOrId}.json"
    },
    "/berry-flavor/{nameOrId}": {
      "$ref": "paths/berry-flavor_{nameOrId}.json"
    },
    "/contest-type/{nameOrId}": {
      "$ref": "paths/contest-type_{nameOrId}.json"
    },
    "/contest-effect/{id}": {
      "$ref": "paths/contest-effect_{id}.json"
    },
    "/super-contest-effect/{id}": {
      "$ref": "paths/super-contest-effect_{id}.json"
    },
    "/encounter-method/{nameOrId}": {
      "$ref": "paths/encounter-method_{nameOrId}.json"
    },
    "/encounter-condition/{nameOrId}": {
      "$ref": "paths/encounter-condition_{nameOrId}.json"
    },
    "/encounter-condition-value/{nameOrId}": {
      "$ref": "paths/encounter-condition-value_{nameOrId}.json"
    },
    "/evolution-chain/{id}": {
      "$ref": "paths/evolution-chain_{id}.json"
    },
    "/evolution-trigger/{nameOrId}": {
      "$ref": "paths/evolution-trigger_{nameOrId}.json"
    },
    "/generation/{nameOrId}": {
      "$ref": "paths/generation_{nameOrId}.json"
    },
    "/pokedex/{nameOrId}": {
      "$ref": "paths/pokedex_{nameOrId}.json"
    },
    "/version/{nameOrId}": {
      "$ref": "paths/version_{nameOrId}.json"
    },
    "/version-group/{nameOrId}": {
      "$ref": "paths/version-group_{nameOrId}.json"
    },
    "/item/{nameOrId}": {
      "$ref": "paths/item_{nameOrId}.json"
    },
    "/item-attribute/{nameOrId}": {
      "$ref": "paths/item-attribute_{nameOrId}.json"
    },
    "/item-category/{nameOrId}": {
      "$ref": "paths/item-category_{nameOrId}.json"
    },
    "/item-fling-effect/{nameOrId}": {
      "$ref": "paths/item-fling-effect_{nameOrId}.json"
    },
    "/item-pocket/{nameOrId}": {
      "$ref": "paths/item-pocket_{nameOrId}.json"
    },
    "/location/{nameOrId}": {
      "$ref": "paths/location_{nameOrId}.json"
    },
    "/location-area/{nameOrId}": {
      "$ref": "paths/location-area_{nameOrId}.json"
    },
    "/pal-park-area/{nameOrId}": {
      "$ref": "paths/pal-park-area_{nameOrId}.json"
    },
    "/region/{nameOrId}": {
      "$ref": "paths/region_{nameOrId}.json"
    },
    "/machine/{id}": {
      "$ref": "paths/machine_{id}.json"
    },
    "/move/{nameOrId}": {
      "$ref": "paths/move_{nameOrId}.json"
    },
    "/move-ailment/{nameOrId}": {
      "$ref": "paths/move-ailment_{nameOrId}.json"
    },
    "/move-battle-style/{nameOrId}": {
      "$ref": "paths/move-battle-style_{nameOrId}.json"
    },
    "/move-category/{nameOrId}": {
      "$ref": "paths/move-category_{nameOrId}.json"
    },
    "/move-damage-class/{nameOrId}": {
      "$ref": "paths/move-damage-class_{nameOrId}.json"
    },
    "/move-learn-method/{nameOrId}": {
      "$ref": "paths/move-learn-method_{nameOrId}.json"
    },
    "/move-target/{nameOrId}": {
      "$ref": "paths/move-target_{nameOrId}.json"
    },
    "/ability/{nameOrId}": {
      "$ref": "paths/ability_{nameOrId}.json"
    },
    "/characteristic/{id}": {
      "$ref": "paths/characteristic_{id}.json"
    },
    "/egg-group/{nameOrId}": {
      "$ref": "paths/egg-group_{nameOrId}.json"
    },
    "/gender/{nameOrId}": {
      "$ref": "paths/gender_{nameOrId}.json"
    },
    "/growth-rate/{nameOrId}": {
      "$ref": "paths/growth-rate_{nameOrId}.json"
    },
    "/nature/{nameOrId}": {
      "$ref": "paths/nature_{nameOrId}.json"
    },
    "/pokeathlon-stat/{nameOrId}": {
      "$ref": "paths/pokeathlon-stat_{nameOrId}.json"
    },
    "/pokemon/{nameOrId}": {
      "$ref": "paths/pokemon_{nameOrId}.json"
    },
    "/pokemon/{nameOrId}/encounters": {
      "$ref": "paths/pokemon_{nameOrId}_encounters.json"
    },
    "/pokemon-color/{nameOrId}": {
      "$ref": "paths/pokemon-color_{nameOrId}.json"
    },
    "/pokemon-form/{nameOrId}": {
      "$ref": "paths/pokemon-form_{nameOrId}.json"
    },
    "/pokemon-habitat/{nameOrId}": {
      "$ref": "paths/pokemon-habitat_{nameOrId}.json"
    },
    "/pokemon-shape/{nameOrId}": {
      "$ref": "paths/pokemon-shape_{nameOrId}.json"
    },
    "/pokemon-species/{nameOrId}": {
      "$ref": "paths/pokemon-species_{nameOrId}.json"
    },
    "/stat/{nameOrId}": {
      "$ref": "paths/stat_{nameOrId}.json"
    },
    "/type/{nameOrId}": {
      "$ref": "paths/type_{nameOrId}.json"
    }
  }
}
