{
  "openapi": "3.1.0",
  "info": {
    "version": "2",
    "title": "PokéAPI",
    "description": "A Pokémon API.",
    "license": {
      "name": "BSD-3-Clause",
      "url": "https://github.com/PokeAPI/pokeapi.co?tab=BSD-3-Clause-1-ov-file"
    }
  },
  "servers": [
    {
      "url": "https://pokeapi.co/api/v2",
      "description": "Base URL for the API."
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Resource Lists/Pagination"
    },
    {
      "name": "Berries"
    },
    {
      "name": "Contests"
    },
    {
      "name": "Encounters"
    },
    {
      "name": "Evolution"
    },
    {
      "name": "Games"
    },
    {
      "name": "Items"
    },
    {
      "name": "Locations"
    },
    {
      "name": "Machines"
    },
    {
      "name": "Moves"
    },
    {
      "name": "Pokémon"
    },
    {
      "name": "Utility"
    }
  ],
  "externalDocs": {
    "url": "https://pokeapi.co/docs/v2"
  },
  "paths": {
    "/{endpoint}": {
      "summary": "Named",
      "description": "Calling any API endpoint without a resource ID or name will return a paginated list of available resources for that API. By default, a list \"page\" will contain up to 20 resources. If you would like to change this just add the `limit` query parameter to the request. You can use `offset` to move to the next page or skip resources.",
      "parameters": [
        {
          "in": "path",
          "name": "endpoint",
          "schema": {
            "$ref": "#/components/schemas/Endpoint"
          },
          "required": true
        },
        {
          "in": "query",
          "name": "limit",
          "schema": {
            "type": "integer"
          },
          "required": false,
          "description": "The maximum number of resources to return per request \"page\". The default is `20`."
        },
        {
          "in": "query",
          "name": "offset",
          "schema": {
            "type": "integer"
          },
          "required": false,
          "description": "The number of resources to skip before listing resources. The default is `20`."
        }
      ],
      "get": {
        "operationId": "getEndpointList",
        "tags": [
          "Resource Lists/Pagination"
        ],
        "responses": {
          "200": {
            "description": "A list of resource items.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamedAPIResourceList"
                },
                "example": {
                  "count": 248,
                  "next": "https://pokeapi.co/api/v2/ability/?limit=20&offset=20",
                  "previous": null,
                  "results": [
                    {
                      "name": "stench",
                      "url": "https://pokeapi.co/api/v2/ability/1/"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/berry/{nameOrId}": {
      "summary": "Berries",
      "description": "Berries are small fruits that can provide HP and status condition restoration, stat enhancement, and even damage negation when eaten by Pokémon. Check out [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Berry) for greater detail.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getBerry",
        "tags": [
          "Berries"
        ],
        "responses": {
          "200": {
            "description": "A Berry object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Berry"
                },
                "example": {
                  "id": 1,
                  "name": "cheri",
                  "growth_time": 3,
                  "max_harvest": 5,
                  "natural_gift_power": 60,
                  "size": 20,
                  "smoothness": 25,
                  "soil_dryness": 15,
                  "firmness": {
                    "name": "soft",
                    "url": "https://pokeapi.co/api/v2/berry-firmness/2/"
                  },
                  "flavors": [
                    {
                      "potency": 10,
                      "flavor": {
                        "name": "spicy",
                        "url": "https://pokeapi.co/api/v2/berry-flavor/1/"
                      }
                    }
                  ],
                  "item": {
                    "name": "cheri-berry",
                    "url": "https://pokeapi.co/api/v2/item/126/"
                  },
                  "natural_gift_type": {
                    "name": "fire",
                    "url": "https://pokeapi.co/api/v2/type/10/"
                  }
                }
              }
            },
            "links": {
              "GetBerryFirmnessByName": {
                "operationId": "getBerryFirmness",
                "parameters": {
                  "itemNameOrId": "$response.body#/firmness.name"
                },
                "description": "The `name` field of the `firmness` value returned in the response can be used as the `nameOrId` parameter in `GET /berry-firmness/{nameOrId}`."
              },
              "GetBerryItemByName": {
                "operationId": "getItem",
                "parameters": {
                  "itemNameOrId": "$response.body#/item.name"
                },
                "description": "The `name` field of the `item` value returned in the response can be used as the `nameOrId` parameter in `GET /item/{nameOrId}`."
              },
              "GetTypeByName": {
                "operationId": "getType",
                "parameters": {
                  "typeNameOrId": "$response.body#/natural_gift_type.name"
                },
                "description": "The `name` field of the `natural_gift_type` value returned in the response can be used as the `nameOrId` parameter in `GET /type/{nameOrId}`."
              }
            }
          }
        }
      }
    },
    "/berry-firmness/{nameOrId}": {
      "summary": "Berry Firmnesses",
      "description": "Berries can be soft or hard. Check out [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Category:Berries_by_firmness) for greater detail.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getBerryFirmness",
        "tags": [
          "Berries"
        ],
        "responses": {
          "200": {
            "description": "A BerryFirmness object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BerryFirmness"
                },
                "example": {
                  "id": 1,
                  "name": "very-soft",
                  "berries": [
                    {
                      "name": "pecha",
                      "url": "https://pokeapi.co/api/v2/berry/3/"
                    }
                  ],
                  "names": [
                    {
                      "name": "Very Soft",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ]
                }
              }
            },
            "links": {
              "GetBerryByName": {
                "operationId": "getBerry",
                "parameters": {
                  "itemNameOrId": "$response.body#/berries.name"
                },
                "description": "The `name` field of the `berries` value returned in the response can be used as the `nameOrId` parameter in `GET /berry/{nameOrId}`."
              }
            }
          }
        }
      }
    },
    "/berry-flavor/{nameOrId}": {
      "summary": "Berry Flavors",
      "description": "Flavors determine whether a Pokémon will benefit or suffer from eating a berry based on their [nature](https://pokeapi.co/docs/v2#natures). Check out [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Flavor) for greater detail.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getBerryFlavor",
        "tags": [
          "Berries"
        ],
        "responses": {
          "200": {
            "description": "A BerryFlavor object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BerryFlavor"
                },
                "example": {
                  "id": 1,
                  "name": "spicy",
                  "berries": [
                    {
                      "potency": 10,
                      "berry": {
                        "name": "rowap",
                        "url": "https://pokeapi.co/api/v2/berry/64/"
                      }
                    }
                  ],
                  "contest_type": {
                    "name": "cool",
                    "url": "https://pokeapi.co/api/v2/contest-type/1/"
                  },
                  "names": [
                    {
                      "name": "Spicy",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ]
                }
              }
            },
            "links": {
              "GetBerryByName": {
                "operationId": "getBerry",
                "parameters": {
                  "itemNameOrId": "$response.body#/berries.berry.name"
                },
                "description": "The `name` field of a `berry` value in the `berries` value returned in the response can be used as the `nameOrId` parameter in `GET /berry/{nameOrId}`."
              },
              "GetContestByName": {
                "operationId": "getContest",
                "parameters": {
                  "itemNameOrId": "$response.body#/contest_type"
                },
                "description": "The `contest_type` value returned in the response can be used as the `nameOrId` parameter in `GET /contest-type/{nameOrId}`."
              }
            }
          }
        }
      }
    },
    "/contest-type/{nameOrId}": {
      "summary": "Contest Types",
      "description": "Contest types are categories judges used to weigh a Pokémon's condition in Pokémon contests. Check out [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Contest_condition) for greater detail.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getContest",
        "tags": [
          "Contests"
        ],
        "responses": {
          "200": {
            "description": "A ContestType object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContestType"
                },
                "example": {
                  "id": 1,
                  "name": "cool",
                  "berry_flavor": {
                    "name": "spicy",
                    "url": "https://pokeapi.co/api/v2/berry-flavor/1/"
                  },
                  "names": [
                    {
                      "name": "Cool",
                      "color": "Red",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/contest-effect/{id}": {
      "summary": "Contest Effects",
      "description": "Contest effects refer to the effects of moves when used in contests.",
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "operationId": "getContestEffect",
        "tags": [
          "Contests"
        ],
        "responses": {
          "200": {
            "description": "A ContestEffect object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContestEffect"
                },
                "example": {
                  "id": 1,
                  "appeal": 4,
                  "jam": 0,
                  "effect_entries": [
                    {
                      "effect": "Gives a high number of appeal points wth no other effects.",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ],
                  "flavor_text_entries": [
                    {
                      "flavor_text": "A highly appealing move.",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/super-contest-effect/{id}": {
      "summary": "Super Contest Effects",
      "description": "Super contest effects refer to the effects of moves when used in super contests.",
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "operationId": "getSuperContestEffect",
        "tags": [
          "Contests"
        ],
        "responses": {
          "200": {
            "description": "A SuperContestEffect object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuperContestEffect"
                },
                "example": {
                  "id": 1,
                  "appeal": 2,
                  "flavor_text_entries": [
                    {
                      "flavor_text": "Enables the user to perform first in the next turn.",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ],
                  "moves": [
                    {
                      "name": "agility",
                      "url": "https://pokeapi.co/api/v2/move/97/"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/encounter-method/{nameOrId}": {
      "summary": "Encounter Methods",
      "description": "Methods by which the player might can encounter Pokémon in the wild, e.g., walking in tall grass. Check out [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Wild_Pok%C3%A9mon) for greater detail.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getEncounterMethod",
        "tags": [
          "Encounters"
        ],
        "responses": {
          "200": {
            "description": "An EncounterMethod object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EncounterMethod"
                },
                "example": {
                  "id": 1,
                  "name": "walk",
                  "order": 1,
                  "names": [
                    {
                      "name": "Walking in tall grass or a cave",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/encounter-condition/{nameOrId}": {
      "summary": "Encounter Conditions",
      "description": "Conditions which affect what pokemon might appear in the wild, e.g., day or night.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getEncounterCondition",
        "tags": [
          "Encounters"
        ],
        "responses": {
          "200": {
            "description": "An EncounterCondition object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EncounterCondition"
                },
                "example": {
                  "id": 1,
                  "name": "swarm",
                  "values": [
                    {
                      "name": "swarm-yes",
                      "url": "https://pokeapi.co/api/v2/encounter-condition-value/1/"
                    },
                    {
                      "name": "swarm-no",
                      "url": "https://pokeapi.co/api/v2/encounter-condition-value/2/"
                    }
                  ],
                  "names": [
                    {
                      "name": "Schwarm",
                      "language": {
                        "name": "de",
                        "url": "https://pokeapi.co/api/v2/language/6/"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/encounter-condition-value/{nameOrId}": {
      "summary": "Encounter Condition Values",
      "description": "Encounter condition values are the various states that an encounter condition can have, i.e., time of day can be either day or night.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getEncounterConditionValue",
        "tags": [
          "Encounters"
        ],
        "responses": {
          "200": {
            "description": "An EncounterConditionValue object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EncounterConditionValue"
                },
                "example": {
                  "id": 1,
                  "name": "swarm-yes",
                  "condition": {
                    "name": "swarm",
                    "url": "https://pokeapi.co/api/v2/encounter-condition/1/"
                  },
                  "names": [
                    {
                      "name": "WÃ¤hrend eines Schwarms",
                      "language": {
                        "name": "de",
                        "url": "https://pokeapi.co/api/v2/language/6/"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/evolution-chain/{id}": {
      "summary": "Evolution Chains",
      "description": "Evolution chains are essentially family trees. They start with the lowest stage within a family and detail evolution conditions for each as well as Pokémon they can evolve into up through the hierarchy.",
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "operationId": "getEvolutionChain",
        "tags": [
          "Evolution"
        ],
        "responses": {
          "200": {
            "description": "An EvolutionChain object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvolutionChain"
                },
                "example": {
                  "id": 7,
                  "baby_trigger_item": null,
                  "chain": {
                    "is_baby": false,
                    "species": {
                      "name": "rattata",
                      "url": "https://pokeapi.co/api/v2/pokemon-species/19/"
                    },
                    "evolution_details": null,
                    "evolves_to": [
                      {
                        "is_baby": false,
                        "species": {
                          "name": "raticate",
                          "url": "https://pokeapi.co/api/v2/pokemon-species/20/"
                        },
                        "evolution_details": [
                          {
                            "item": null,
                            "trigger": {
                              "name": "level-up",
                              "url": "https://pokeapi.co/api/v2/evolution-trigger/1/"
                            },
                            "gender": null,
                            "held_item": null,
                            "known_move": null,
                            "known_move_type": null,
                            "location": null,
                            "min_level": 20,
                            "min_happiness": null,
                            "min_beauty": null,
                            "min_affection": null,
                            "needs_overworld_rain": false,
                            "party_species": null,
                            "party_type": null,
                            "relative_physical_stats": null,
                            "time_of_day": "",
                            "trade_species": null,
                            "turn_upside_down": false
                          }
                        ],
                        "evolves_to": []
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evolution-trigger/{nameOrId}": {
      "summary": "Evolution Triggers",
      "description": "Evolution triggers are the events and conditions that cause a Pokémon to evolve. Check out [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Methods_of_evolution) for greater detail.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getEvolutionTrigger",
        "tags": [
          "Evolution"
        ],
        "responses": {
          "200": {
            "description": "An EvolutionTrigger object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvolutionTrigger"
                },
                "example": {
                  "id": 1,
                  "name": "level-up",
                  "names": [
                    {
                      "name": "Level up",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ],
                  "pokemon_species": [
                    {
                      "name": "ivysaur",
                      "url": "https://pokeapi.co/api/v2/pokemon-species/2/"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/generation/{nameOrId}": {
      "summary": "Generations",
      "description": "A generation is a grouping of the Pokémon games that separates them based on the Pokémon they include. In each generation, a new set of Pokémon, Moves, Abilities and Types that did not exist in the previous generation are released.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getGeneration",
        "tags": [
          "Games"
        ],
        "responses": {
          "200": {
            "description": "A Generation object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Generation"
                },
                "example": {
                  "id": 1,
                  "name": "generation-i",
                  "abilities": [],
                  "main_region": {
                    "name": "kanto",
                    "url": "https://pokeapi.co/api/v2/region/1/"
                  },
                  "moves": [
                    {
                      "name": "pound",
                      "url": "https://pokeapi.co/api/v2/move/1/"
                    }
                  ],
                  "names": [
                    {
                      "name": "Generation I",
                      "language": {
                        "name": "de",
                        "url": "https://pokeapi.co/api/v2/language/6/"
                      }
                    }
                  ],
                  "pokemon_species": [
                    {
                      "name": "bulbasaur",
                      "url": "https://pokeapi.co/api/v2/pokemon-species/1/"
                    }
                  ],
                  "types": [
                    {
                      "name": "normal",
                      "url": "https://pokeapi.co/api/v2/type/1/"
                    }
                  ],
                  "version_groups": [
                    {
                      "name": "red-blue",
                      "url": "https://pokeapi.co/api/v2/version-group/1/"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/pokedex/{nameOrId}": {
      "summary": "Pokedexes",
      "description": "A Pokédex is a handheld electronic encyclopedia device; one which is capable of recording and retaining information of the various Pokémon in a given region with the exception of the national dex and some smaller dexes related to portions of a region. Check out [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Pokedex) for greater detail.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getPokedex",
        "tags": [
          "Games"
        ],
        "responses": {
          "200": {
            "description": "A Pokedex object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pokedex"
                },
                "example": {
                  "id": 2,
                  "name": "kanto",
                  "is_main_series": true,
                  "descriptions": [
                    {
                      "description": "Rot/Blau/Gelb Kanto Dex",
                      "language": {
                        "name": "de",
                        "url": "https://pokeapi.co/api/v2/language/6/"
                      }
                    }
                  ],
                  "names": [
                    {
                      "name": "Kanto",
                      "language": {
                        "name": "de",
                        "url": "https://pokeapi.co/api/v2/language/6/"
                      }
                    }
                  ],
                  "pokemon_entries": [
                    {
                      "entry_number": 1,
                      "pokemon_species": {
                        "name": "bulbasaur",
                        "url": "https://pokeapi.co/api/v2/pokemon-species/1/"
                      }
                    }
                  ],
                  "region": {
                    "name": "kanto",
                    "url": "https://pokeapi.co/api/v2/region/1/"
                  },
                  "version_groups": [
                    {
                      "name": "red-blue",
                      "url": "https://pokeapi.co/api/v2/version-group/1/"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/version/{nameOrId}": {
      "summary": "Version",
      "description": "Versions of the games, e.g., Red, Blue or Yellow.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getVersion",
        "tags": [
          "Games"
        ],
        "responses": {
          "200": {
            "description": "A Version object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Version"
                },
                "example": {
                  "id": 1,
                  "name": "red",
                  "names": [
                    {
                      "name": "Rot",
                      "language": {
                        "name": "de",
                        "url": "https://pokeapi.co/api/v2/language/6/"
                      }
                    }
                  ],
                  "version_group": {
                    "name": "red-blue",
                    "url": "https://pokeapi.co/api/v2/version-group/1/"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/version-group/{nameOrId}": {
      "summary": "Version Groups",
      "description": "Version groups categorize highly similar versions of the games.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getVersionGroup",
        "tags": [
          "Games"
        ],
        "responses": {
          "200": {
            "description": "A VersionGroup object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionGroup"
                },
                "example": {
                  "id": 1,
                  "name": "red-blue",
                  "order": 1,
                  "generation": {
                    "name": "generation-i",
                    "url": "https://pokeapi.co/api/v2/generation/1/"
                  },
                  "move_learn_methods": [
                    {
                      "name": "level-up",
                      "url": "https://pokeapi.co/api/v2/move-learn-method/1/"
                    }
                  ],
                  "pokedexes": [
                    {
                      "name": "kanto",
                      "url": "https://pokeapi.co/api/v2/pokedex/2/"
                    }
                  ],
                  "regions": [
                    {
                      "name": "kanto",
                      "url": "https://pokeapi.co/api/v2/region/1/"
                    }
                  ],
                  "versions": [
                    {
                      "name": "red",
                      "url": "https://pokeapi.co/api/v2/version/1/"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/item/{nameOrId}": {
      "summary": "Item",
      "description": "An item is an object in the games which the player can pick up, keep in their bag, and use in some manner. They have various uses, including healing, powering up, helping catch Pokémon, or to access a new area.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getItem",
        "tags": [
          "Items"
        ],
        "responses": {
          "200": {
            "description": "An Item object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                },
                "example": {
                  "id": 1,
                  "name": "master-ball",
                  "cost": 0,
                  "fling_power": 10,
                  "fling_effect": {
                    "name": "flinch",
                    "url": "https://pokeapi.co/api/v2/item-fling-effect/7/"
                  },
                  "attributes": [
                    {
                      "name": "holdable",
                      "url": "https://pokeapi.co/api/v2/item-attribute/5/"
                    }
                  ],
                  "category": {
                    "name": "standard-balls",
                    "url": "https://pokeapi.co/api/v2/item-category/34/"
                  },
                  "effect_entries": [
                    {
                      "effect": "Used in battle\n:   [Catches]{mechanic:catch} a wild Pokémon without fail.\n\n    If used in a trainer battle, nothing happens and the ball is lost.",
                      "short_effect": "Catches a wild Pokémon every time.",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ],
                  "flavor_text_entries": [
                    {
                      "text": "The best Poké Ball with the ultimate level of performance. With it, you will catch any wild Pokémon without fail.",
                      "version_group": {
                        "name": "x-y",
                        "url": "https://pokeapi.co/api/v2/version-group/15/"
                      },
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ],
                  "game_indices": [
                    {
                      "game_index": 1,
                      "generation": {
                        "name": "generation-vi",
                        "url": "https://pokeapi.co/api/v2/generation/6/"
                      }
                    }
                  ],
                  "names": [
                    {
                      "name": "Master Ball",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ],
                  "sprites": {
                    "default": "https://pokeapi.co/media/sprites/items/master-ball.png"
                  },
                  "held_by_pokemon": [
                    {
                      "pokemon": {
                        "name": "chansey",
                        "url": "https://pokeapi.co/api/v2/pokemon/113/"
                      },
                      "version_details": [
                        {
                          "rarity": 50,
                          "version": {
                            "name": "soulsilver",
                            "url": "https://pokeapi.co/api/v2/version/16/"
                          }
                        }
                      ]
                    }
                  ],
                  "baby_trigger_for": {
                    "url": "https://pokeapi.co/api/v2/evolution-chain/1/"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/item-attribute/{nameOrId}": {
      "summary": "Item Attributes",
      "description": "Item attributes define particular aspects of items, e.g. \"usable in battle\" or \"consumable\".",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getItemAttribute",
        "tags": [
          "Items"
        ],
        "responses": {
          "200": {
            "description": "An ItemAttribute object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemAttribute"
                },
                "example": {
                  "id": 1,
                  "name": "countable",
                  "descriptions": [
                    {
                      "description": "Has a count in the bag",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ],
                  "items": [
                    {
                      "name": "master-ball",
                      "url": "https://pokeapi.co/api/v2/item/1/"
                    }
                  ],
                  "names": [
                    {
                      "name": "Countable",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/item-category/{nameOrId}": {
      "summary": "Item Categories",
      "description": "Item categories determine where items will be placed in the players bag.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getItemCategory",
        "tags": [
          "Items"
        ],
        "responses": {
          "200": {
            "description": "An ItemCategory object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemCategory"
                },
                "example": {
                  "id": 1,
                  "name": "stat-boosts",
                  "items": [
                    {
                      "name": "guard-spec",
                      "url": "https://pokeapi.co/api/v2/item/55/"
                    }
                  ],
                  "names": [
                    {
                      "name": "Stat boosts",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ],
                  "pocket": {
                    "name": "battle",
                    "url": "https://pokeapi.co/api/v2/item-pocket/7/"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/item-fling-effect/{nameOrId}": {
      "summary": "Item Fling Effects",
      "description": "The various effects of the move \"Fling\" when used with different items.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getItemFlingEffect",
        "tags": [
          "Items"
        ],
        "responses": {
          "200": {
            "description": "An ItemFlingEffect object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemFlingEffect"
                },
                "example": {
                  "id": 1,
                  "name": "badly-poison",
                  "effect_entries": [
                    {
                      "effect": "Badly poisons the target.",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ],
                  "items": [
                    {
                      "name": "toxic-orb",
                      "url": "https://pokeapi.co/api/v2/item/249/"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/item-pocket/{nameOrId}": {
      "summary": "Item Pockets",
      "description": "Pockets within the players bag used for storing items by category.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getItemPocket",
        "tags": [
          "Items"
        ],
        "responses": {
          "200": {
            "description": "An ItemPocket object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemPocket"
                },
                "example": {
                  "id": 1,
                  "name": "misc",
                  "categories": [
                    {
                      "name": "collectibles",
                      "url": "https://pokeapi.co/api/v2/item-category/9/"
                    }
                  ],
                  "names": [
                    {
                      "name": "Items",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/location/{nameOrId}": {
      "summary": "Locations",
      "description": "Locations that can be visited within the games. Locations make up sizable portions of regions, like cities or routes.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getLocation",
        "tags": [
          "Locations"
        ],
        "responses": {
          "200": {
            "description": "A Location object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                },
                "example": {
                  "id": 1,
                  "name": "canalave-city",
                  "region": {
                    "name": "sinnoh",
                    "url": "https://pokeapi.co/api/v2/region/4/"
                  },
                  "names": [
                    {
                      "name": "Canalave City",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ],
                  "game_indices": [
                    {
                      "game_index": 7,
                      "generation": {
                        "name": "generation-iv",
                        "url": "https://pokeapi.co/api/v2/generation/4/"
                      }
                    }
                  ],
                  "areas": [
                    {
                      "name": "canalave-city-area",
                      "url": "https://pokeapi.co/api/v2/location-area/1/"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/location-area/{nameOrId}": {
      "summary": "Location Areas",
      "description": "Location areas are sections of areas, such as floors in a building or cave. Each area has its own set of possible Pokémon encounters.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getLocationArea",
        "tags": [
          "Locations"
        ],
        "responses": {
          "200": {
            "description": "A LocationArea object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationArea"
                },
                "example": {
                  "id": 1,
                  "name": "canalave-city-area",
                  "game_index": 1,
                  "encounter_method_rates": [
                    {
                      "encounter_method": {
                        "name": "old-rod",
                        "url": "https://pokeapi.co/api/v2/encounter-method/2/"
                      },
                      "version_details": [
                        {
                          "rate": 25,
                          "version": {
                            "name": "platinum",
                            "url": "https://pokeapi.co/api/v2/version/14/"
                          }
                        }
                      ]
                    }
                  ],
                  "location": {
                    "name": "canalave-city",
                    "url": "https://pokeapi.co/api/v2/location/1/"
                  },
                  "names": [
                    {
                      "name": "",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ],
                  "pokemon_encounters": [
                    {
                      "pokemon": {
                        "name": "tentacool",
                        "url": "https://pokeapi.co/api/v2/pokemon/72/"
                      },
                      "version_details": [
                        {
                          "version": {
                            "name": "diamond",
                            "url": "https://pokeapi.co/api/v2/version/12/"
                          },
                          "max_chance": 60,
                          "encounter_details": [
                            {
                              "min_level": 20,
                              "max_level": 30,
                              "condition_values": [],
                              "chance": 60,
                              "method": {
                                "name": "surf",
                                "url": "https://pokeapi.co/api/v2/encounter-method/5/"
                              }
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/pal-park-area/{nameOrId}": {
      "summary": "Pal Park Areas",
      "description": "Areas used for grouping Pokémon encounters in Pal Park. They're like habitats that are specific to [Pal Park](https://bulbapedia.bulbagarden.net/wiki/Pal_Park).",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getPalParkArea",
        "tags": [
          "Locations"
        ],
        "responses": {
          "200": {
            "description": "A PalParkArea object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PalParkArea"
                },
                "example": {
                  "id": 1,
                  "name": "forest",
                  "names": [
                    {
                      "name": "Forest",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ],
                  "pokemon_encounters": [
                    {
                      "base_score": 30,
                      "rate": 50,
                      "pokemon_species": {
                        "name": "caterpie",
                        "url": "https://pokeapi.co/api/v2/pokemon-species/10/"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/region/{nameOrId}": {
      "summary": "Regions",
      "description": "A region is an organized area of the Pokémon world. Most often, the main difference between regions is the species of Pokémon that can be encountered within them.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getRegion",
        "tags": [
          "Locations"
        ],
        "responses": {
          "200": {
            "description": "A Region object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Region"
                },
                "example": {
                  "id": 1,
                  "name": "kanto",
                  "locations": [
                    {
                      "name": "celadon-city",
                      "url": "https://pokeapi.co/api/v2/location/67/"
                    }
                  ],
                  "main_generation": {
                    "name": "generation-i",
                    "url": "https://pokeapi.co/api/v2/generation/1/"
                  },
                  "names": [
                    {
                      "name": "Kanto",
                      "language": {
                        "name": "de",
                        "url": "https://pokeapi.co/api/v2/language/6/"
                      }
                    }
                  ],
                  "pokedexes": [
                    {
                      "name": "kanto",
                      "url": "https://pokeapi.co/api/v2/pokedex/2/"
                    }
                  ],
                  "version_groups": [
                    {
                      "name": "red-blue",
                      "url": "https://pokeapi.co/api/v2/version-group/1/"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/machine/{id}": {
      "summary": "Machines",
      "description": "Machines are the representation of items that teach moves to Pokémon. They vary from version to version, so it is not certain that one specific TM or HM corresponds to a single Machine.",
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "operationId": "getMachine",
        "tags": [
          "Machines"
        ],
        "responses": {
          "200": {
            "description": "A Machine object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Machine"
                },
                "example": {
                  "id": 1,
                  "item": {
                    "name": "tm01",
                    "url": "https://pokeapi.co/api/v2/item/305/"
                  },
                  "move": {
                    "name": "mega-punch",
                    "url": "https://pokeapi.co/api/v2/move/5/"
                  },
                  "version_group": {
                    "name": "red-blue",
                    "url": "https://pokeapi.co/api/v2/version/1/"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/move/{nameOrId}": {
      "summary": "Moves",
      "description": "Moves are the skills of Pokémon in battle. In battle, a Pokémon uses one move each turn. Some moves (including those learned by Hidden Machine) can be used outside of battle as well, usually for the purpose of removing obstacles or exploring new areas.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getMove",
        "tags": [
          "Moves"
        ],
        "responses": {
          "200": {
            "description": "A Move object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Move"
                },
                "example": {
                  "id": 1,
                  "name": "pound",
                  "accuracy": 100,
                  "effect_chance": null,
                  "pp": 35,
                  "priority": 0,
                  "power": 40,
                  "contest_combos": {
                    "normal": {
                      "use_before": [
                        {
                          "name": "double-slap",
                          "url": "https://pokeapi.co/api/v2/move/3/"
                        },
                        {
                          "name": "headbutt",
                          "url": "https://pokeapi.co/api/v2/move/29/"
                        },
                        {
                          "name": "feint-attack",
                          "url": "https://pokeapi.co/api/v2/move/185/"
                        }
                      ],
                      "use_after": null
                    },
                    "super": {
                      "use_before": null,
                      "use_after": null
                    }
                  },
                  "contest_type": {
                    "name": "tough",
                    "url": "https://pokeapi.co/api/v2/contest-type/5/"
                  },
                  "contest_effect": {
                    "url": "https://pokeapi.co/api/v2/contest-effect/1/"
                  },
                  "damage_class": {
                    "name": "physical",
                    "url": "https://pokeapi.co/api/v2/move-damage-class/2/"
                  },
                  "effect_entries": [
                    {
                      "effect": "Inflicts [regular damage]{mechanic:regular-damage}.",
                      "short_effect": "Inflicts regular damage with no additional effect.",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ],
                  "effect_changes": [],
                  "generation": {
                    "name": "generation-i",
                    "url": "https://pokeapi.co/api/v2/generation/1/"
                  },
                  "machines": [],
                  "meta": {
                    "ailment": {
                      "name": "none",
                      "url": "https://pokeapi.co/api/v2/move-ailment/0/"
                    },
                    "category": {
                      "name": "damage",
                      "url": "https://pokeapi.co/api/v2/move-category/0/"
                    },
                    "min_hits": null,
                    "max_hits": null,
                    "min_turns": null,
                    "max_turns": null,
                    "drain": 0,
                    "healing": 0,
                    "crit_rate": 0,
                    "ailment_chance": 0,
                    "flinch_chance": 0,
                    "stat_chance": 0
                  },
                  "names": [
                    {
                      "name": "Pound",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ],
                  "past_values": [],
                  "stat_changes": [],
                  "super_contest_effect": {
                    "url": "https://pokeapi.co/api/v2/super-contest-effect/5/"
                  },
                  "target": {
                    "name": "selected-pokemon",
                    "url": "https://pokeapi.co/api/v2/move-target/10/"
                  },
                  "type": {
                    "name": "normal",
                    "url": "https://pokeapi.co/api/v2/type/1/"
                  },
                  "learned_by_pokemon": [
                    {
                      "name": "clefairy",
                      "url": "https://pokeapi.co/api/v2/pokemon/35/"
                    }
                  ],
                  "flavor_text_entries": [
                    {
                      "flavor_text": "Pounds with fore­\nlegs or tail.",
                      "language": {
                        "url": "https://pokeapi.co/api/v2/language/9/",
                        "name": "en"
                      },
                      "version_group": {
                        "url": "https://pokeapi.co/api/v2/version-group/3/",
                        "name": "gold-silver"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/move-ailment/{nameOrId}": {
      "summary": "Move Ailments",
      "description": "Move Ailments are status conditions caused by moves used during battle. See [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Status_condition) for greater detail.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getMoveAilment",
        "tags": [
          "Moves"
        ],
        "responses": {
          "200": {
            "description": "A MoveAilment object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoveAilment"
                },
                "example": {
                  "id": 1,
                  "name": "paralysis",
                  "moves": [
                    {
                      "name": "thunder-punch",
                      "url": "https://pokeapi.co/api/v2/move/9/"
                    }
                  ],
                  "names": [
                    {
                      "name": "Paralysis",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/move-battle-style/{nameOrId}": {
      "summary": "Move Battle Styles",
      "description": "Styles of moves when used in the Battle Palace. See [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Battle_Frontier_(Generation_III)) for greater detail.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getMoveBattleStyle",
        "tags": [
          "Moves"
        ],
        "responses": {
          "200": {
            "description": "A MoveBattleStyle object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoveBattleStyle"
                },
                "example": {
                  "id": 1,
                  "name": "attack",
                  "names": [
                    {
                      "name": "Attack",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/move-category/{nameOrId}": {
      "summary": "Move Categories",
      "description": "Very general categories that loosely group move effects.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getMoveCategory",
        "tags": [
          "Moves"
        ],
        "responses": {
          "200": {
            "description": "A MoveCategory object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoveCategory"
                },
                "example": {
                  "id": 1,
                  "name": "ailment",
                  "descriptions": [
                    {
                      "description": "No damage; inflicts status ailment",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ],
                  "moves": [
                    {
                      "name": "sing",
                      "url": "https://pokeapi.co/api/v2/move/47/"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/move-damage-class/{nameOrId}": {
      "summary": "Move Damage Classes",
      "description": "Damage classes moves can have, e.g. physical, special, or non-damaging.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getMoveDamageClass",
        "tags": [
          "Moves"
        ],
        "responses": {
          "200": {
            "description": "A MoveDamageClass object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoveDamageClass"
                },
                "example": {
                  "id": 1,
                  "name": "status",
                  "descriptions": [
                    {
                      "description": "ãƒ€ãƒ¡ãƒ¼ã‚¸ãªã„",
                      "language": {
                        "name": "ja",
                        "url": "https://pokeapi.co/api/v2/language/1/"
                      }
                    }
                  ],
                  "moves": [
                    {
                      "name": "swords-dance",
                      "url": "https://pokeapi.co/api/v2/move/14/"
                    }
                  ],
                  "names": [
                    {
                      "language": {
                        "name": "ja-Hrkt",
                        "url": "https://pokeapi.co/api/v2/language/1/"
                      },
                      "name": "へんか"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/move-learn-method/{nameOrId}": {
      "summary": "Move Learn Methods",
      "description": "Methods by which Pokémon can learn moves.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getMoveLearnMethod",
        "tags": [
          "Moves"
        ],
        "responses": {
          "200": {
            "description": "A MoveLearnMethod object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoveLearnMethod"
                },
                "example": {
                  "id": 1,
                  "name": "level-up",
                  "names": [
                    {
                      "name": "Level up",
                      "language": {
                        "name": "de",
                        "url": "https://pokeapi.co/api/v2/language/6/"
                      }
                    }
                  ],
                  "descriptions": [
                    {
                      "description": "Wird gelernt, wenn ein Pokémon ein bestimmtes Level erreicht.",
                      "language": {
                        "name": "de",
                        "url": "https://pokeapi.co/api/v2/language/6/"
                      }
                    }
                  ],
                  "version_groups": [
                    {
                      "name": "red-blue",
                      "url": "https://pokeapi.co/api/v2/version-group/1/"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/move-target/{nameOrId}": {
      "summary": "Move Targets",
      "description": "Targets moves can be directed at during battle. Targets can be Pokémon, environments or even other moves.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getMoveTarget",
        "tags": [
          "Moves"
        ],
        "responses": {
          "200": {
            "description": "A MoveTarget object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoveTarget"
                },
                "example": {
                  "id": 1,
                  "name": "specific-move",
                  "descriptions": [
                    {
                      "description": "Eine spezifische Fähigkeit. Wie diese Fähigkeit genutzt wird, hängt von den genutzten Fähigkeiten ab.",
                      "language": {
                        "name": "de",
                        "url": "https://pokeapi.co/api/v2/language/6/"
                      }
                    }
                  ],
                  "moves": [
                    {
                      "name": "counter",
                      "url": "https://pokeapi.co/api/v2/move/68/"
                    }
                  ],
                  "names": [
                    {
                      "name": "Spezifische Fähigkeit",
                      "language": {
                        "name": "de",
                        "url": "https://pokeapi.co/api/v2/language/6/"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/ability/{nameOrId}": {
      "summary": "Abilities",
      "description": "Abilities provide passive effects for Pokémon in battle or in the overworld. Pokémon have multiple possible abilities but can have only one ability at a time. Check out [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Ability) for greater detail.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getAbility",
        "tags": [
          "Pokémon"
        ],
        "responses": {
          "200": {
            "description": "An Ability object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ability"
                },
                "example": {
                  "id": 1,
                  "name": "stench",
                  "is_main_series": true,
                  "generation": {
                    "name": "generation-iii",
                    "url": "https://pokeapi.co/api/v2/generation/3/"
                  },
                  "names": [
                    {
                      "name": "Stench",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ],
                  "effect_entries": [
                    {
                      "effect": "This Pokémon's damaging moves have a 10% chance to make the target [flinch]{mechanic:flinch} with each hit if they do not already cause flinching as a secondary effect.\n\nThis ability does not stack with a held item.\n\nOverworld: The wild encounter rate is halved while this Pokémon is first in the party.",
                      "short_effect": "Has a 10% chance of making target Pokémon [flinch]{mechanic:flinch} with each hit.",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ],
                  "effect_changes": [
                    {
                      "version_group": {
                        "name": "black-white",
                        "url": "https://pokeapi.co/api/v2/version-group/11/"
                      },
                      "effect_entries": [
                        {
                          "effect": "Has no effect in battle.",
                          "language": {
                            "name": "en",
                            "url": "https://pokeapi.co/api/v2/language/9/"
                          }
                        }
                      ]
                    }
                  ],
                  "flavor_text_entries": [
                    {
                      "flavor_text": "è‡­ãã¦ã€€ç›¸æ‰‹ãŒ\nã²ã‚‹ã‚€ã€€ã“ã¨ãŒã‚ã‚‹ã€‚",
                      "language": {
                        "name": "ja-kanji",
                        "url": "https://pokeapi.co/api/v2/language/11/"
                      },
                      "version_group": {
                        "name": "x-y",
                        "url": "https://pokeapi.co/api/v2/version-group/15/"
                      }
                    }
                  ],
                  "pokemon": [
                    {
                      "is_hidden": true,
                      "slot": 3,
                      "pokemon": {
                        "name": "gloom",
                        "url": "https://pokeapi.co/api/v2/pokemon/44/"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/characteristic/{id}": {
      "summary": "Characteristics",
      "description": "Characteristics indicate which stat contains a Pokémon's highest IV. A Pokémon's Characteristic is determined by the remainder of its highest IV divided by 5 (`gene_modulo`). Check out [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Characteristic) for greater detail.",
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "operationId": "getCharacteristic",
        "tags": [
          "Pokémon"
        ],
        "responses": {
          "200": {
            "description": "A Characteristic object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Characteristic"
                },
                "example": {
                  "id": 1,
                  "gene_modulo": 0,
                  "possible_values": [
                    0,
                    5,
                    10,
                    15,
                    20,
                    25,
                    30
                  ],
                  "highest_stat": {
                    "name": "hp",
                    "url": "https://pokeapi.co/api/v2/stat/1/"
                  },
                  "descriptions": [
                    {
                      "description": "Loves to eat",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/egg-group/{nameOrId}": {
      "summary": "Egg Groups",
      "description": "Egg Groups are categories which determine which Pokémon are able to interbreed. Pokémon may belong to either one or two Egg Groups. Check out [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Egg_Group) for greater detail.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getEggGroup",
        "tags": [
          "Pokémon"
        ],
        "responses": {
          "200": {
            "description": "An EggGroup object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EggGroup"
                },
                "example": {
                  "id": 1,
                  "name": "monster",
                  "names": [
                    {
                      "name": "かいじゅう",
                      "language": {
                        "name": "ja",
                        "url": "https://pokeapi.co/api/v2/language/1/"
                      }
                    }
                  ],
                  "pokemon_species": [
                    {
                      "name": "bulbasaur",
                      "url": "https://pokeapi.co/api/v2/pokemon-species/1/"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/gender/{nameOrId}": {
      "summary": "Genders",
      "description": "Genders were introduced in Generation II for the purposes of breeding Pokémon but can also result in visual differences or even different evolutionary lines. Check out [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Gender) for greater detail.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getGender",
        "tags": [
          "Pokémon"
        ],
        "responses": {
          "200": {
            "description": "A Gender object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Gender"
                },
                "example": {
                  "id": 1,
                  "name": "female",
                  "pokemon_species_details": [
                    {
                      "rate": 1,
                      "pokemon_species": {
                        "name": "bulbasaur",
                        "url": "https://pokeapi.co/api/v2/pokemon-species/1/"
                      }
                    }
                  ],
                  "required_for_evolution": [
                    {
                      "name": "wormadam",
                      "url": "https://pokeapi.co/api/v2/pokemon-species/413/"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/growth-rate/{nameOrId}": {
      "summary": "Growth Rates",
      "description": "Growth rates are the speed with which Pokémon gain levels through experience. Check out [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Experience) for greater detail.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getGrowthRate",
        "tags": [
          "Pokémon"
        ],
        "responses": {
          "200": {
            "description": "A GrowthRate object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrowthRate"
                },
                "example": {
                  "id": 1,
                  "name": "slow",
                  "formula": "\\frac{5x^3}{4}",
                  "descriptions": [
                    {
                      "description": "langsam",
                      "language": {
                        "name": "de",
                        "url": "https://pokeapi.co/api/v2/language/6/"
                      }
                    }
                  ],
                  "levels": [
                    {
                      "level": 100,
                      "experience": 1250000
                    }
                  ],
                  "pokemon_species": [
                    {
                      "name": "growlithe",
                      "url": "https://pokeapi.co/api/v2/pokemon-species/58/"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/nature/{nameOrId}": {
      "summary": "Natures",
      "description": "Natures influence how a Pokémon's stats grow. Check out [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Nature) for greater detail.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getNature",
        "tags": [
          "Pokémon"
        ],
        "responses": {
          "200": {
            "description": "A Nature object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Nature"
                },
                "example": {
                  "id": 2,
                  "name": "bold",
                  "decreased_stat": {
                    "name": "attack",
                    "url": "https://pokeapi.co/api/v2/stat/2/"
                  },
                  "increased_stat": {
                    "name": "defense",
                    "url": "https://pokeapi.co/api/v2/stat/3/"
                  },
                  "likes_flavor": {
                    "name": "sour",
                    "url": "https://pokeapi.co/api/v2/berry-flavor/5/"
                  },
                  "hates_flavor": {
                    "name": "spicy",
                    "url": "https://pokeapi.co/api/v2/berry-flavor/1/"
                  },
                  "pokeathlon_stat_changes": [
                    {
                      "max_change": -2,
                      "pokeathlon_stat": {
                        "name": "speed",
                        "url": "https://pokeapi.co/api/v2/pokeathlon-stat/1/"
                      }
                    }
                  ],
                  "move_battle_style_preferences": [
                    {
                      "low_hp_preference": 32,
                      "high_hp_preference": 30,
                      "move_battle_style": {
                        "name": "attack",
                        "url": "https://pokeapi.co/api/v2/move-battle-style/1/"
                      }
                    }
                  ],
                  "names": [
                    {
                      "name": "がんばりや",
                      "language": {
                        "name": "ja",
                        "url": "https://pokeapi.co/api/v2/language/1/"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/pokeathlon-stat/{nameOrId}": {
      "summary": "Pokeathlon Stats",
      "description": "Pokeathlon Stats are different attributes of a Pokémon's performance in Pokéathlons. In Pokéathlons, competitions happen on different courses; one for each of the different Pokéathlon stats. Check out [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9athlon) for greater detail.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getPokeathlonStat",
        "tags": [
          "Pokémon"
        ],
        "responses": {
          "200": {
            "description": "A PokeathlonStat object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PokeathlonStat"
                },
                "example": {
                  "id": 1,
                  "name": "speed",
                  "affecting_natures": {
                    "increase": [
                      {
                        "max_change": 2,
                        "nature": {
                          "name": "timid",
                          "url": "https://pokeapi.co/api/v2/nature/5/"
                        }
                      }
                    ],
                    "decrease": [
                      {
                        "max_change": -1,
                        "nature": {
                          "name": "hardy",
                          "url": "https://pokeapi.co/api/v2/nature/1/"
                        }
                      }
                    ]
                  },
                  "names": [
                    {
                      "name": "Speed",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/pokemon/{nameOrId}": {
      "summary": "Pokémon",
      "description": "Pokémon are the creatures that inhabit the world of the Pokémon games. They can be caught using Pokéballs and trained by battling with other Pokémon. Each Pokémon belongs to a specific species but may take on a variant which makes it differ from other Pokémon of the same species, such as base stats, available abilities and typings. Check out [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_(species)) for greater detail.",
      "parameters": [
        {
          "$ref": "#/components/parameters/nameOrId"
        }
      ],
      "get": {
        "operationId": "getPokemon",
        "tags": [
          "Pokémon"
        ],
        "responses": {
          "200": {
            "description": "A Pokemon object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pokemon"
                },
                "example": {
                  "id": 35,
                  "name": "clefairy",
                  "base_experience": 113,
                  "height": 6,
                  "is_default": true,
                  "order": 56,
                  "weight": 75,
                  "abilities": [
                    {
                      "is_hidden": true,
                      "slot": 3,
                      "ability": {
                        "name": "friend-guard",
                        "url": "https://pokeapi.co/api/v2/ability/132/"
                      }
                    }
                  ],
                  "forms": [
                    {
                      "name": "clefairy",
                      "url": "https://pokeapi.co/api/v2/pokemon-form/35/"
                    }
                  ],
                  "game_indices": [
                    {
                      "game_index": 35,
                      "version": {
                        "name": "white-2",
                        "url": "https://pokeapi.co/api/v2/version/22/"
                      }
                    }
                  ],
                  "held_items": [
                    {
                      "item": {
                        "name": "moon-stone",
                        "url": "https://pokeapi.co/api/v2/item/81/"
                      },
                      "version_details": [
                        {
                          "rarity": 5,
                          "version": {
                            "name": "ruby",
                            "url": "https://pokeapi.co/api/v2/version/7/"
                          }
                        }
                      ]
                    }
                  ],
                  "location_area_encounters": "/api/v2/pokemon/35/encounters",
                  "moves": [
                    {
                      "move": {
                        "name": "pound",
                        "url": "https://pokeapi.co/api/v2/move/1/"
                      },
                      "version_group_details": [
                        {
                          "level_learned_at": 1,
                          "version_group": {
                            "name": "red-blue",
                            "url": "https://pokeapi.co/api/v2/version-group/1/"
                          },
                          "move_learn_method": {
                            "name": "level-up",
                            "url": "https://pokeapi.co/api/v2/move-learn-method/1/"
                          }
                        }
                      ]
                    }
                  ],
                  "species": {
                    "name": "clefairy",
                    "url": "https://pokeapi.co/api/v2/pokemon-species/35/"
                  },
                  "sprites": {
                    "back_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/35.png",
                    "back_female": null,
                    "back_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/35.png",
                    "back_shiny_female": null,
                    "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/35.png",
                    "front_female": null,
                    "front_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/35.png",
                    "front_shiny_female": null,
                    "other": {
                      "dream_world": {
                        "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/35.svg",
                        "front_female": null
                      },
                      "home": {
                        "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/35.png",
                        "front_female": null,
                        "front_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/35.png",
                        "front_shiny_female": null
                      },
                      "official-artwork": {
                        "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/35.png",
                        "front_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/shiny/35.png"
                      },
                      "showdown": {
                        "back_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/back/35.gif",
                        "back_female": null,
                        "back_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/back/shiny/35.gif",
                        "back_shiny_female": null,
                        "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/35.gif",
                        "front_female": null,
                        "front_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/shiny/35.gif",
                        "front_shiny_female": null
                      }
                    },
                    "versions": {
                      "generation-i": {
                        "red-blue": {
                          "back_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-i/red-blue/back/35.png",
                          "back_gray": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-i/red-blue/back/gray/35.png",
                          "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-i/red-blue/35.png",
                          "front_gray": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-i/red-blue/gray/35.png"
                        },
                        "yellow": {
                          "back_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-i/yellow/back/35.png",
                          "back_gray": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-i/yellow/back/gray/35.png",
                          "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-i/yellow/35.png",
                          "front_gray": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-i/yellow/gray/35.png"
                        }
                      },
                      "generation-ii": {
                        "crystal": {
                          "back_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-ii/crystal/back/35.png",
                          "back_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-ii/crystal/back/shiny/35.png",
                          "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-ii/crystal/35.png",
                          "front_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-ii/crystal/shiny/35.png"
                        },
                        "gold": {
                          "back_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-ii/gold/back/35.png",
                          "back_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-ii/gold/back/shiny/35.png",
                          "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-ii/gold/35.png",
                          "front_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-ii/gold/shiny/35.png"
                        },
                        "silver": {
                          "back_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-ii/silver/back/35.png",
                          "back_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-ii/silver/back/shiny/35.png",
                          "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-ii/silver/35.png",
                          "front_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-ii/silver/shiny/35.png"
                        }
                      },
                      "generation-iii": {
                        "emerald": {
                          "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iii/emerald/35.png",
                          "front_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iii/emerald/shiny/35.png"
                        },
                        "firered-leafgreen": {
                          "back_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iii/firered-leafgreen/back/35.png",
                          "back_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iii/firered-leafgreen/back/shiny/35.png",
                          "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iii/firered-leafgreen/35.png",
                          "front_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iii/firered-leafgreen/shiny/35.png"
                        },
                        "ruby-sapphire": {
                          "back_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iii/ruby-sapphire/back/35.png",
                          "back_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iii/ruby-sapphire/back/shiny/35.png",
                          "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iii/ruby-sapphire/35.png",
                          "front_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iii/ruby-sapphire/shiny/35.png"
                        }
                      },
                      "generation-iv": {
                        "diamond-pearl": {
                          "back_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iv/diamond-pearl/back/35.png",
                          "back_female": null,
                          "back_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iv/diamond-pearl/back/shiny/35.png",
                          "back_shiny_female": null,
                          "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iv/diamond-pearl/35.png",
                          "front_female": null,
                          "front_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iv/diamond-pearl/shiny/35.png",
                          "front_shiny_female": null
                        },
                        "heartgold-soulsilver": {
                          "back_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iv/heartgold-soulsilver/back/35.png",
                          "back_female": null,
                          "back_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iv/heartgold-soulsilver/back/shiny/35.png",
                          "back_shiny_female": null,
                          "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iv/heartgold-soulsilver/35.png",
                          "front_female": null,
                          "front_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iv/heartgold-soulsilver/shiny/35.png",
                          "front_shiny_female": null
                        },
                        "platinum": {
                          "back_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iv/platinum/back/35.png",
                          "back_female": null,
                          "back_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iv/platinum/back/shiny/35.png",
                          "back_shiny_female": null,
                          "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iv/platinum/35.png",
                          "front_female": null,
                          "front_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iv/platinum/shiny/35.png",
                          "front_shiny_female": null
                        }
                      },
                      "generation-v": {
                        "black-white": {
                          "animated": {
                            "back_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/back/35.gif",
                            "back_female": null,
                            "back_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/back/shiny/35.gif",
                            "back_shiny_female": null,
                            "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/35.gif",
                            "front_female": null,
                            "front_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/shiny/35.gif",
                            "front_shiny_female": null
                          },
                          "back_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/back/35.png",
                          "back_female": null,
                          "back_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/back/shiny/35.png",
                          "back_shiny_female": null,
                          "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/35.png",
                          "front_female": null,
                          "front_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/shiny/35.png",
                          "front_shiny_female": null
                        }
                      },
                      "generation-vi": {
                        "omegaruby-alphasapphire": {
                          "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-vi/omegaruby-alphasapphire/35.png",
                          "front_female": null,
                          "front_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-vi/omegaruby-alphasapphire/shiny/35.png",
                          "front_shiny_female": null
                        },
                        "x-y": {
                          "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-vi/x-y/35.png",
                          "front_female": null,
                          "front_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-vi/x-y/shiny/35.png",
                          "front_shiny_female": null
                        }
                      },
                      "generation-vii": {
                        "icons": {
                          "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-vii/icons/35.png",
                          "front_female": null
                        },
                        "ultra-sun-ultra-moon": {
                          "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-vii/ultra-sun-ultra-moon/35.png",
                          "front_female": null,
                          "front_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-vii/ultra-sun-ultra-moon/shiny/35.png",
                          "front_shiny_female": null
                        }
                      },
                      "generation-viii": {
                        "icons": {
                          "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-viii/icons/35.png",
                          "front_female": null
[...]
